@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
html,
body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  height: fit-content;
  background-image: url("/assets/images/cardboard-texture.jpg");
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
  position: relative;
}

* {
  box-sizing: border-box;
}
.app-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}
.navbar {
  position: fixed;
  inset: 0.5rem 0.5rem 0 0.5rem;
  min-width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  background: rgb(136, 35, 70);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 0.6rem;
  color: white;
  overflow: hidden;
  z-index: 100;
}

.logo {
  margin: 0 0 0 0.5rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.burger-menu {
  display: none !important;
  position: absolute;
  height: 1.1rem;
  width: 1.5rem;
  top: 1.25rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  cursor: pointer;
}

.burger-menu span {
  position: absolute;
  width: 1.5rem;
  height: 2px;
  background-color: black;
  display: block;
  background-color: white;
  border-radius: 1rem;
  transform-origin: center;
  transition: all 0.2s ease;
}

.burger-menu span:nth-child(1) {
  top: 0;
}

.burger-menu span:nth-child(2) {
  top: 0.5rem;
}

.burger-menu span:nth-child(3) {
  top: 1rem;
}

.burger-menu.is-active span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.burger-menu.is-active span:nth-child(2) {
  opacity: 0;
}
.burger-menu.is-active span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar li a {
  margin: 0 1rem 0 1rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: inline-block;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.navbar li a:not(.authentication-btn):hover {
  opacity: 0.5;
  transform: translateY(-0.2rem);
}

.authentication-btn {
  background-color: white;
  text-align: center;
  color: black !important;
  padding: 0.5rem;
  margin-left: 0.5rem !important;
  border-radius: 0.6rem;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out !important;
}

.authentication-btn:hover {
  transform: translateY(-0.1rem);
  box-shadow: 0 3px 10px -1.5px rgba(0, 0, 0, 0.8);
}

/* mobile navbar */
@media (max-width: 882px) {
  .navbar {
    flex-direction: column;
    height: fit-content;
  }
  .logo {
    margin: 0.7rem;
  }
  .nav-links {
    margin: 0;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    transition: height 0.3s ease-out, opacity 0.3s ease-out,
      transform 0.3s ease-out;
  }
  .nav-links.open {
    transform: scaleY(1);
    height: 225px;
    opacity: 1;
  }
  .authentication-btn {
    margin: 0 0 1.5rem 0 !important;
    width: 5rem;
  }
  .burger-menu {
    display: block !important;
  }
  .section-divider {
    height: 1px !important;
    width: 90% !important;
  }
  /* .alumni-sub-container ul {
    columns: 2;
    column-gap: 2rem;
    max-width: 33rem;
  } */
}

/* dashboard styling */
.dashboard-container {
  display: flex;
  width: 100%;
  margin-top: 4rem;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.page-title,
.dashboard-container h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  width: 90%;
  color: rgb(136, 35, 70);
}

.page-sub-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  width: 90%;
  color: rgb(136, 35, 70);
}

.react-flow {
  border: 1px solid rgb(155, 155, 155);
}

.react-flow__node {
  border: none !important;
  color: black !important;
}

.outlook-stats-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  gap: 5rem;
  width: 90%;
  min-height: 50dvh;
}

.outlook-stats-section div {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex-basis: 15rem;
  flex-grow: 0.2;
}

.outlook-stats-section svg {
  color: rgb(136, 35, 70);
  font-size: 2.5rem;
}

.outlook-stats-section b {
  color: rgb(136, 35, 70);
}

.academic-career-tracker-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60dvh;
  margin: 5rem 0;
}

.current-course-pathways-tracker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  max-width: 65rem;
  flex-grow: 1;
  border: 2px solid rgb(136, 35, 70);
  border-radius: 0.7rem;
  overflow: hidden;
}

.current-course-pathways-subcontainer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(136, 35, 70);
}

.current-course-pathways-subcontainer-title h2 {
  color: white !important;
  margin: 0.6rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.current-courses-pathways-subcontainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.current-schedule {
  flex: 1 1 50%;
  border-collapse: collapse;
}

.current-schedule thead {
  background-color: #c5c5c5;
}

.current-schedule th,
.current-schedule td {
  border: 1px solid rgb(155, 155, 155);
}

.current-schedule td {
  padding-left: 1rem;
}

.current-schedule tr:nth-child(even) {
  background-color: #dddddd;
}

.current-checklist {
  display: flex;
  background-color: #c5c5c5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 2px solid rgb(136, 35, 70);
  flex: 1 1 50%;
}

.current-schedule h3 {
  margin: 0.41rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.current-checklist h3 {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.current-checklist-tabs {
  display: flex;
  justify-content: center;
  width: 100%;
  border-top: 1px solid #8d8c8c;
}

.checkList-category {
  flex: 1;
  padding: 0.25rem;
  text-align: center;
  align-content: center;
  background-color: #ffffff;
  border: 1px solid #ddd;
  cursor: pointer;
}

.checkList-category:hover {
  background-color: #eee;
}

.selected {
  color: rgb(136, 35, 70);
  border-bottom: 2px solid rgb(136, 35, 70);
}

.current-checklist-tabs-categories {
  display: flex;
  width: 100%;
  flex-grow: 1;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-top-color: #8d8c8c;
}

.current-checklist-tabs-categories ul {
  list-style: none;
  padding-left: 1rem;
}

.pathways-cards-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  min-height: 60dvh;
  margin-bottom: 5rem;
  justify-content: center;
  align-items: center;
}

.pathways-cards-title {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  color: rgb(136, 35, 70);
}

.pathways-cards-sub-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.thumbnail-card {
  display: block;
  width: 15rem;
  height: 20rem;
  position: relative;
  border-radius: 0.7rem;
  overflow: hidden;
}

.thumbnail-card h2 {
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
}
.thumbnail-card div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  color: white;
  height: 50%;
  width: 100%;
}

.overlay {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5) 20%);
}

.learn-more {
  position: absolute;
  margin: 0;
  opacity: 0;
  font-size: 0.85rem;
  transform: translateY(1rem);
  color: white;
  bottom: 0.5rem;
  right: 1rem;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.4s;
  cursor: pointer;
}

.thumbnail-card:hover .learn-more {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
}

.thumbnail-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  inset: 0;
  transition: transform 0.3s ease;
  z-index: -1;
  filter: brightness(0.7);
}

.thumbnail-card:hover img {
  transform: scale(1.1);
}

/* Courses page styling */
.courses-container {
  display: flex;
  width: 100%;
  margin-top: 4rem;
  min-height: 100dvh;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.courses-tables-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 3rem;
}

.past-courses-table {
  width: 90%;
  max-width: 75rem;
  border-collapse: collapse;
}

.past-courses-table th {
  color: rgb(136, 35, 70);
}

.past-courses-table th,
.past-courses-table td {
  border: 1px solid rgb(155, 155, 155);
  padding: 12px;
  text-align: left;
}

.past-courses-table thead {
  background-color: #c5c5c5;
}

.past-courses-table tr:nth-child(even) {
  background-color: #dddddd;
}

.current-gpa-container {
}

/* Footer styling */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(136, 35, 70);
  color: white;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}
.main-footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.7rem;
  width: 90%;
  margin-bottom: 0.5rem;
}
.main-footer-content h4 {
  font-weight: 500;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid white;
  width: fit-content;
}

.main-footer-content div {
  display: flex;
  flex-direction: column;
}
.main-footer-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-footer-content ul li {
  word-wrap: break-word;
}
.main-footer-content ul li a {
  text-decoration: none;
  color: white;
  transition: opacity 0.2s ease-in-out;
}

.main-footer-content ul li a:hover {
  opacity: 0.5;
}

.user-feedback-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-feedback-container h3 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.user-feedback-container button {
  padding: 0.5rem;
  font-family: "Poppins";
  font-weight: 500;
  text-align: center;
  color: rgb(136, 35, 70);
  background-color: white;
  border-radius: 0.7rem;
  border: none;
  margin-bottom: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    outline 0.2s ease-in-out;
}

.user-feedback-container button:hover {
  background-color: rgb(136, 35, 70);
  color: white;
  outline: 1.5px solid white;
}

.handles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.handles-container h4 {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.handles {
  margin-bottom: 1rem;
}

.handles svg:nth-child(2),
.handles svg:nth-child(3) {
  margin-left: 1rem;
}
